.App
  display: flex
  height: 100%

  &__sidebar
    display: flex
    flex-direction: column
    height: 100%
    width: 30%
    max-width: $g * 80
    min-width: $g * 40
    border-right: solid 1px darken($colorBg, 10%)
    overflow-y: auto


.Header
  padding-left: $g
  height: $gg
  line-height: $gg

  &__configButton
    float: right
    display: block
    padding: 0 0
    margin: $g $g 0 0
    height: $gg - $g*2
    width: $gg - $g*2
    text-align: center
    font-size: 18px
    line-height: 0
    cursor: pointer

.PostFrame
  flex-grow: 1
  background: lighten($colorBg, 2%)
  iframe
    width: 100%
    height: 100%
