.App
  display: flex
  height: 100%

  &__sidebar
    display: flex
    flex-direction: column
    height: 100%
    width: 30%
    max-width: $g * 80
    min-width: $g * 40
    overflow-y: auto

.Header
  padding: 0 $g
  height: $gg
  line-height: $gg

.PostFrame
  flex-grow: 1
  background: lighten($colorBg, 2%)
  iframe
    width: 100%
    height: 100%
