.ConfigPanel
  border: solid 1px darken($colorBg, 6%)
  border-width: 1px 0 1px 0
  background: darken($colorBg, 3%)
  font-size: $g*2

.__subs
  line-height: $lineHeight*2
  display: flex
  padding-left: $g
  input
    display: block
    flex-grow: 1
    margin: $g $g 0 $g

.__readPostsMode
  display: flex
  align-items: center
  padding-left: $g
  line-height: $lineHeight*2
  cursor: pointer

  span
    flex-grow: 1

.__cleanReadPosts
  padding-left: $g
  line-height: $lineHeight*2
  button
    margin-right: $g
