@import "reset.scss"

\:global
  #main
    overflow: hidden

  html, body, #main
    height: 100%

  body
    background: $colorBg
    color: $colorFont
    font-family: sans-serif
    line-height: $lineHeight
    font-size: $g*3

  a
    color: $colorHigh
    text-decoration: none
    &:hover
      text-decoration: underline

  input, button
    &:focus
      outline: none
