@import "reset.scss"

$g: 8px

#main
  overflow: hidden

html, body, #main
  height: 100%

body
  font-family: sans-serif
  line-height: $g*3

a
  color: DodgerBlue
  text-decoration: none
  &:hover
    text-decoration: underline
